{
  "compilerOptions": {
    // base
    "strict": false /* Enable all strict type-checking options. */,
    "strictFunctionTypes": true /* Enable strict checking of function types. */,
    "strictBindCallApply": true /* Enable strict 'bind', 'call', and 'apply' methods on functions. */,
    "alwaysStrict": true /* Parse in strict mode and emit "use strict" for each source file. */,

    /* Additional Checks */
    "noFallthroughCasesInSwitch": true /* Report errors for fallthrough cases in switch statement. */,
    "forceConsistentCasingInFileNames": true /* Disallow inconsistently-cased references to the same file. */,
    // options
    "module": "CommonJS",
    "target": "ES6",
    "declaration": true,
    "noLib": false,
    "allowSyntheticDefaultImports": true,
    "emitDecoratorMetadata": true,
    "experimentalDecorators": true,
    "sourceMap": true,
    "esModuleInterop": true,
    "moduleResolution": "node",
    "resolveJsonModule": true,
    "isolatedModules": false,
    "noImplicitAny": false,
    "noUnusedLocals": false,
    "noUnusedParameters": false,
    "pretty": true,
    "removeComments": true,
    "skipLibCheck": true,
    "strictPropertyInitialization": false,
    "noImplicitReturns": false,
    "noImplicitThis": false,
    "allowJs": true,
    "emitDeclarationOnly": true,
    "lib": ["esnext"],
    "rootDir": "./src",
    "outDir": "./dist",
    "baseUrl": "./src",
    "types": [],
    "typeRoots": ["./node_modules/@types"]
  },
  "include": ["src/**/*.ts"],
  "exclude": ["node_modules"]
}